/*! =========================================
Lufty: Air for the web | v1.3.0 - 2018.04.18
Dev. by Abiel Muren  -  abielmuren.com/lufty
========================================= */


// === INDEX ===

	// Index
	// Table of Contents
	// Variables
	// Content

// =====================


/*
-------------------------
=== TABLE OF CONTENTS ===
-------------------------

	1. =# MARGINS #=
		-- margin
		-- margin horizontal 
		-- margin horizontal auto 
		-- margin vertical 
		-- margin top 
		-- margin top negative 
		-- margin bottom 
		-- margin bottom negative 
		-- margin left 
		-- margin left negative 
		-- margin left auto 
		-- margin right 
		-- margin right negative 
		-- margin right auto 

	2. =# PADDINGS #=
		-- padding
		-- padding horizontal
		-- padding vertical
		-- padding top
		-- padding bottom
		-- padding left
		-- padding right

	3. =# BORDERS #=
		-- border
		-- border top
		-- border bottom
		-- border left
		-- border right

---------------------------
*/




// VARIABLES
$nums = 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300 350 400 450 500 550 600 650 700;
$br = 0...21
$br-color = #445157




// CONTENT
/* =# MARGINS #= */

/* -- margin */
for n in $nums
	.m-{n}, .m{n}
		margin (n px) !important;

/* -- margin horizontal */
for n in $nums
	.mh-{n}, .mh{n}
		margin-left (n px) !important;
		margin-right (n px) !important;
		
/* -- margin horizontal auto */
.mh-a, .mha
	float none;
	margin-left auto !important;
	margin-right auto !important;
		
/* -- margin vertical */
for n in $nums
	.mv-{n}, .mv{n}
		margin-top (n px) !important;
		margin-bottom (n px) !important;

/* -- margin top */
for n in $nums
	.mt-{n}, .mt{n}
		margin-top (n px) !important;

/* -- margin top negative */
for n in $nums
	.mt--{n}
		margin-top -(n px) !important;

/* -- margin bottom */
for n in $nums
	.mb-{n}, .mb{n}
		margin-bottom (n px) !important;

/* -- margin bottom negative */
for n in $nums
	.mb--{n}
		margin-bottom -(n px) !important;

/* -- margin left */
for n in $nums
	.ml-{n}, .ml{n}
		margin-left (n px) !important;

/* -- margin left negative */
for n in $nums
	.ml--{n}
		margin-left -(n px) !important;

/* -- margin left auto */
.ml-a, .mla
	float none;
	margin-left auto !important;

/* -- margin right */
for n in $nums
	.mr-{n}, .mr{n}
		margin-right (n px) !important;

/* -- margin right negative */
for n in $nums
	.mr--{n}
		margin-right -(n px) !important;

/* -- margin right auto */
.mr-a, .mra
	float none;
	margin-right auto !important;




/* =# PADDINGS #= */

/* -- padding */
for n in $nums
	.p-{n}, .p{n}
		padding (n px) !important;

/* -- padding horizontal */
for n in $nums
	.ph-{n}, .ph{n}
		padding-left (n px) !important;
		padding-right (n px) !important;

/* -- padding vertical */
for n in $nums
	.pv-{n}, .pv{n}
		padding-top (n px) !important;
		padding-bottom (n px) !important;

/* -- padding top */
for n in $nums
	.pt-{n}, .pt{n}
		padding-top (n px) !important;

/* -- padding bottom */
for n in $nums
	.pb-{n}, .pb{n}
		padding-bottom (n px) !important;

/* -- padding left */
for n in $nums
	.pl-{n}, .pl{n}
		padding-left (n px) !important;

/* -- padding right */
for n in $nums
	.pr-{n}, .pr{n}
		padding-right (n px) !important;




/* =# BORDERS #= */

/* -- border */
for n in $br
	.b-{n}, .b{n}
		border (n px) solid $br-color !important;

/* -- border top */
for n in $br
	.bt-{n}, .bt{n}
		border-top (n px) solid $br-color !important;

/* -- border bottom */
for n in $br
	.bb-{n}, .bb{n}
		border-bottom (n px) solid $br-color !important;

/* -- border left */
for n in $br
	.bl-{n}, .bl{n}
		border-left (n px) solid $br-color !important;

/* -- border right */
for n in $br
	.br-{n}, .br{n}
		border-right (n px) solid $br-color !important;
