/* =========================================
Lufty: Air for the web | v1.3.0 - 2018.04.18
Dev. by Abiel Muren  -  abielmuren.com/lufty
========================================= */
/*
-------------------------
=== TABLE OF CONTENTS ===
-------------------------

	1. =# MARGINS #=
		-- margin
		-- margin horizontal 
		-- margin horizontal auto 
		-- margin vertical 
		-- margin top 
		-- margin top negative 
		-- margin bottom 
		-- margin bottom negative 
		-- margin left 
		-- margin left negative 
		-- margin left auto 
		-- margin right 
		-- margin right negative 
		-- margin right auto 

	2. =# PADDINGS #=
		-- padding
		-- padding horizontal
		-- padding vertical
		-- padding top
		-- padding bottom
		-- padding left
		-- padding right

	3. =# BORDERS #=
		-- border
		-- border top
		-- border bottom
		-- border left
		-- border right

---------------------------
*/
/* =# MARGINS #= */
/* -- margin */
.m-0,
.m0 {
  margin: 0px !important;
}
.m-5,
.m5 {
  margin: 5px !important;
}
.m-10,
.m10 {
  margin: 10px !important;
}
.m-15,
.m15 {
  margin: 15px !important;
}
.m-20,
.m20 {
  margin: 20px !important;
}
.m-25,
.m25 {
  margin: 25px !important;
}
.m-30,
.m30 {
  margin: 30px !important;
}
.m-35,
.m35 {
  margin: 35px !important;
}
.m-40,
.m40 {
  margin: 40px !important;
}
.m-45,
.m45 {
  margin: 45px !important;
}
.m-50,
.m50 {
  margin: 50px !important;
}
.m-55,
.m55 {
  margin: 55px !important;
}
.m-60,
.m60 {
  margin: 60px !important;
}
.m-65,
.m65 {
  margin: 65px !important;
}
.m-70,
.m70 {
  margin: 70px !important;
}
.m-75,
.m75 {
  margin: 75px !important;
}
.m-80,
.m80 {
  margin: 80px !important;
}
.m-85,
.m85 {
  margin: 85px !important;
}
.m-90,
.m90 {
  margin: 90px !important;
}
.m-95,
.m95 {
  margin: 95px !important;
}
.m-100,
.m100 {
  margin: 100px !important;
}
.m-110,
.m110 {
  margin: 110px !important;
}
.m-120,
.m120 {
  margin: 120px !important;
}
.m-130,
.m130 {
  margin: 130px !important;
}
.m-140,
.m140 {
  margin: 140px !important;
}
.m-150,
.m150 {
  margin: 150px !important;
}
.m-160,
.m160 {
  margin: 160px !important;
}
.m-170,
.m170 {
  margin: 170px !important;
}
.m-180,
.m180 {
  margin: 180px !important;
}
.m-190,
.m190 {
  margin: 190px !important;
}
.m-200,
.m200 {
  margin: 200px !important;
}
.m-210,
.m210 {
  margin: 210px !important;
}
.m-220,
.m220 {
  margin: 220px !important;
}
.m-230,
.m230 {
  margin: 230px !important;
}
.m-240,
.m240 {
  margin: 240px !important;
}
.m-250,
.m250 {
  margin: 250px !important;
}
.m-260,
.m260 {
  margin: 260px !important;
}
.m-270,
.m270 {
  margin: 270px !important;
}
.m-280,
.m280 {
  margin: 280px !important;
}
.m-290,
.m290 {
  margin: 290px !important;
}
.m-300,
.m300 {
  margin: 300px !important;
}
.m-350,
.m350 {
  margin: 350px !important;
}
.m-400,
.m400 {
  margin: 400px !important;
}
.m-450,
.m450 {
  margin: 450px !important;
}
.m-500,
.m500 {
  margin: 500px !important;
}
.m-550,
.m550 {
  margin: 550px !important;
}
.m-600,
.m600 {
  margin: 600px !important;
}
.m-650,
.m650 {
  margin: 650px !important;
}
.m-700,
.m700 {
  margin: 700px !important;
}
/* -- margin horizontal */
.mh-0,
.mh0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mh-5,
.mh5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mh-10,
.mh10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mh-15,
.mh15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mh-20,
.mh20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mh-25,
.mh25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mh-30,
.mh30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mh-35,
.mh35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.mh-40,
.mh40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.mh-45,
.mh45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.mh-50,
.mh50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.mh-55,
.mh55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}
.mh-60,
.mh60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.mh-65,
.mh65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}
.mh-70,
.mh70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}
.mh-75,
.mh75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}
.mh-80,
.mh80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.mh-85,
.mh85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}
.mh-90,
.mh90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}
.mh-95,
.mh95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}
.mh-100,
.mh100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}
.mh-110,
.mh110 {
  margin-left: 110px !important;
  margin-right: 110px !important;
}
.mh-120,
.mh120 {
  margin-left: 120px !important;
  margin-right: 120px !important;
}
.mh-130,
.mh130 {
  margin-left: 130px !important;
  margin-right: 130px !important;
}
.mh-140,
.mh140 {
  margin-left: 140px !important;
  margin-right: 140px !important;
}
.mh-150,
.mh150 {
  margin-left: 150px !important;
  margin-right: 150px !important;
}
.mh-160,
.mh160 {
  margin-left: 160px !important;
  margin-right: 160px !important;
}
.mh-170,
.mh170 {
  margin-left: 170px !important;
  margin-right: 170px !important;
}
.mh-180,
.mh180 {
  margin-left: 180px !important;
  margin-right: 180px !important;
}
.mh-190,
.mh190 {
  margin-left: 190px !important;
  margin-right: 190px !important;
}
.mh-200,
.mh200 {
  margin-left: 200px !important;
  margin-right: 200px !important;
}
.mh-210,
.mh210 {
  margin-left: 210px !important;
  margin-right: 210px !important;
}
.mh-220,
.mh220 {
  margin-left: 220px !important;
  margin-right: 220px !important;
}
.mh-230,
.mh230 {
  margin-left: 230px !important;
  margin-right: 230px !important;
}
.mh-240,
.mh240 {
  margin-left: 240px !important;
  margin-right: 240px !important;
}
.mh-250,
.mh250 {
  margin-left: 250px !important;
  margin-right: 250px !important;
}
.mh-260,
.mh260 {
  margin-left: 260px !important;
  margin-right: 260px !important;
}
.mh-270,
.mh270 {
  margin-left: 270px !important;
  margin-right: 270px !important;
}
.mh-280,
.mh280 {
  margin-left: 280px !important;
  margin-right: 280px !important;
}
.mh-290,
.mh290 {
  margin-left: 290px !important;
  margin-right: 290px !important;
}
.mh-300,
.mh300 {
  margin-left: 300px !important;
  margin-right: 300px !important;
}
.mh-350,
.mh350 {
  margin-left: 350px !important;
  margin-right: 350px !important;
}
.mh-400,
.mh400 {
  margin-left: 400px !important;
  margin-right: 400px !important;
}
.mh-450,
.mh450 {
  margin-left: 450px !important;
  margin-right: 450px !important;
}
.mh-500,
.mh500 {
  margin-left: 500px !important;
  margin-right: 500px !important;
}
.mh-550,
.mh550 {
  margin-left: 550px !important;
  margin-right: 550px !important;
}
.mh-600,
.mh600 {
  margin-left: 600px !important;
  margin-right: 600px !important;
}
.mh-650,
.mh650 {
  margin-left: 650px !important;
  margin-right: 650px !important;
}
.mh-700,
.mh700 {
  margin-left: 700px !important;
  margin-right: 700px !important;
}
/* -- margin horizontal auto */
.mh-a,
.mha {
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* -- margin vertical */
.mv-0,
.mv0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.mv-5,
.mv5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mv-10,
.mv10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mv-15,
.mv15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mv-20,
.mv20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mv-25,
.mv25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.mv-30,
.mv30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mv-35,
.mv35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.mv-40,
.mv40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mv-45,
.mv45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.mv-50,
.mv50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.mv-55,
.mv55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}
.mv-60,
.mv60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.mv-65,
.mv65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}
.mv-70,
.mv70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.mv-75,
.mv75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}
.mv-80,
.mv80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.mv-85,
.mv85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}
.mv-90,
.mv90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}
.mv-95,
.mv95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}
.mv-100,
.mv100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.mv-110,
.mv110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important;
}
.mv-120,
.mv120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}
.mv-130,
.mv130 {
  margin-top: 130px !important;
  margin-bottom: 130px !important;
}
.mv-140,
.mv140 {
  margin-top: 140px !important;
  margin-bottom: 140px !important;
}
.mv-150,
.mv150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}
.mv-160,
.mv160 {
  margin-top: 160px !important;
  margin-bottom: 160px !important;
}
.mv-170,
.mv170 {
  margin-top: 170px !important;
  margin-bottom: 170px !important;
}
.mv-180,
.mv180 {
  margin-top: 180px !important;
  margin-bottom: 180px !important;
}
.mv-190,
.mv190 {
  margin-top: 190px !important;
  margin-bottom: 190px !important;
}
.mv-200,
.mv200 {
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}
.mv-210,
.mv210 {
  margin-top: 210px !important;
  margin-bottom: 210px !important;
}
.mv-220,
.mv220 {
  margin-top: 220px !important;
  margin-bottom: 220px !important;
}
.mv-230,
.mv230 {
  margin-top: 230px !important;
  margin-bottom: 230px !important;
}
.mv-240,
.mv240 {
  margin-top: 240px !important;
  margin-bottom: 240px !important;
}
.mv-250,
.mv250 {
  margin-top: 250px !important;
  margin-bottom: 250px !important;
}
.mv-260,
.mv260 {
  margin-top: 260px !important;
  margin-bottom: 260px !important;
}
.mv-270,
.mv270 {
  margin-top: 270px !important;
  margin-bottom: 270px !important;
}
.mv-280,
.mv280 {
  margin-top: 280px !important;
  margin-bottom: 280px !important;
}
.mv-290,
.mv290 {
  margin-top: 290px !important;
  margin-bottom: 290px !important;
}
.mv-300,
.mv300 {
  margin-top: 300px !important;
  margin-bottom: 300px !important;
}
.mv-350,
.mv350 {
  margin-top: 350px !important;
  margin-bottom: 350px !important;
}
.mv-400,
.mv400 {
  margin-top: 400px !important;
  margin-bottom: 400px !important;
}
.mv-450,
.mv450 {
  margin-top: 450px !important;
  margin-bottom: 450px !important;
}
.mv-500,
.mv500 {
  margin-top: 500px !important;
  margin-bottom: 500px !important;
}
.mv-550,
.mv550 {
  margin-top: 550px !important;
  margin-bottom: 550px !important;
}
.mv-600,
.mv600 {
  margin-top: 600px !important;
  margin-bottom: 600px !important;
}
.mv-650,
.mv650 {
  margin-top: 650px !important;
  margin-bottom: 650px !important;
}
.mv-700,
.mv700 {
  margin-top: 700px !important;
  margin-bottom: 700px !important;
}
/* -- margin top */
.mt-0,
.mt0 {
  margin-top: 0px !important;
}
.mt-5,
.mt5 {
  margin-top: 5px !important;
}
.mt-10,
.mt10 {
  margin-top: 10px !important;
}
.mt-15,
.mt15 {
  margin-top: 15px !important;
}
.mt-20,
.mt20 {
  margin-top: 20px !important;
}
.mt-25,
.mt25 {
  margin-top: 25px !important;
}
.mt-30,
.mt30 {
  margin-top: 30px !important;
}
.mt-35,
.mt35 {
  margin-top: 35px !important;
}
.mt-40,
.mt40 {
  margin-top: 40px !important;
}
.mt-45,
.mt45 {
  margin-top: 45px !important;
}
.mt-50,
.mt50 {
  margin-top: 50px !important;
}
.mt-55,
.mt55 {
  margin-top: 55px !important;
}
.mt-60,
.mt60 {
  margin-top: 60px !important;
}
.mt-65,
.mt65 {
  margin-top: 65px !important;
}
.mt-70,
.mt70 {
  margin-top: 70px !important;
}
.mt-75,
.mt75 {
  margin-top: 75px !important;
}
.mt-80,
.mt80 {
  margin-top: 80px !important;
}
.mt-85,
.mt85 {
  margin-top: 85px !important;
}
.mt-90,
.mt90 {
  margin-top: 90px !important;
}
.mt-95,
.mt95 {
  margin-top: 95px !important;
}
.mt-100,
.mt100 {
  margin-top: 100px !important;
}
.mt-110,
.mt110 {
  margin-top: 110px !important;
}
.mt-120,
.mt120 {
  margin-top: 120px !important;
}
.mt-130,
.mt130 {
  margin-top: 130px !important;
}
.mt-140,
.mt140 {
  margin-top: 140px !important;
}
.mt-150,
.mt150 {
  margin-top: 150px !important;
}
.mt-160,
.mt160 {
  margin-top: 160px !important;
}
.mt-170,
.mt170 {
  margin-top: 170px !important;
}
.mt-180,
.mt180 {
  margin-top: 180px !important;
}
.mt-190,
.mt190 {
  margin-top: 190px !important;
}
.mt-200,
.mt200 {
  margin-top: 200px !important;
}
.mt-210,
.mt210 {
  margin-top: 210px !important;
}
.mt-220,
.mt220 {
  margin-top: 220px !important;
}
.mt-230,
.mt230 {
  margin-top: 230px !important;
}
.mt-240,
.mt240 {
  margin-top: 240px !important;
}
.mt-250,
.mt250 {
  margin-top: 250px !important;
}
.mt-260,
.mt260 {
  margin-top: 260px !important;
}
.mt-270,
.mt270 {
  margin-top: 270px !important;
}
.mt-280,
.mt280 {
  margin-top: 280px !important;
}
.mt-290,
.mt290 {
  margin-top: 290px !important;
}
.mt-300,
.mt300 {
  margin-top: 300px !important;
}
.mt-350,
.mt350 {
  margin-top: 350px !important;
}
.mt-400,
.mt400 {
  margin-top: 400px !important;
}
.mt-450,
.mt450 {
  margin-top: 450px !important;
}
.mt-500,
.mt500 {
  margin-top: 500px !important;
}
.mt-550,
.mt550 {
  margin-top: 550px !important;
}
.mt-600,
.mt600 {
  margin-top: 600px !important;
}
.mt-650,
.mt650 {
  margin-top: 650px !important;
}
.mt-700,
.mt700 {
  margin-top: 700px !important;
}
/* -- margin top negative */
.mt--0 {
  margin-top: 0px !important;
}
.mt--5 {
  margin-top: -5px !important;
}
.mt--10 {
  margin-top: -10px !important;
}
.mt--15 {
  margin-top: -15px !important;
}
.mt--20 {
  margin-top: -20px !important;
}
.mt--25 {
  margin-top: -25px !important;
}
.mt--30 {
  margin-top: -30px !important;
}
.mt--35 {
  margin-top: -35px !important;
}
.mt--40 {
  margin-top: -40px !important;
}
.mt--45 {
  margin-top: -45px !important;
}
.mt--50 {
  margin-top: -50px !important;
}
.mt--55 {
  margin-top: -55px !important;
}
.mt--60 {
  margin-top: -60px !important;
}
.mt--65 {
  margin-top: -65px !important;
}
.mt--70 {
  margin-top: -70px !important;
}
.mt--75 {
  margin-top: -75px !important;
}
.mt--80 {
  margin-top: -80px !important;
}
.mt--85 {
  margin-top: -85px !important;
}
.mt--90 {
  margin-top: -90px !important;
}
.mt--95 {
  margin-top: -95px !important;
}
.mt--100 {
  margin-top: -100px !important;
}
.mt--110 {
  margin-top: -110px !important;
}
.mt--120 {
  margin-top: -120px !important;
}
.mt--130 {
  margin-top: -130px !important;
}
.mt--140 {
  margin-top: -140px !important;
}
.mt--150 {
  margin-top: -150px !important;
}
.mt--160 {
  margin-top: -160px !important;
}
.mt--170 {
  margin-top: -170px !important;
}
.mt--180 {
  margin-top: -180px !important;
}
.mt--190 {
  margin-top: -190px !important;
}
.mt--200 {
  margin-top: -200px !important;
}
.mt--210 {
  margin-top: -210px !important;
}
.mt--220 {
  margin-top: -220px !important;
}
.mt--230 {
  margin-top: -230px !important;
}
.mt--240 {
  margin-top: -240px !important;
}
.mt--250 {
  margin-top: -250px !important;
}
.mt--260 {
  margin-top: -260px !important;
}
.mt--270 {
  margin-top: -270px !important;
}
.mt--280 {
  margin-top: -280px !important;
}
.mt--290 {
  margin-top: -290px !important;
}
.mt--300 {
  margin-top: -300px !important;
}
.mt--350 {
  margin-top: -350px !important;
}
.mt--400 {
  margin-top: -400px !important;
}
.mt--450 {
  margin-top: -450px !important;
}
.mt--500 {
  margin-top: -500px !important;
}
.mt--550 {
  margin-top: -550px !important;
}
.mt--600 {
  margin-top: -600px !important;
}
.mt--650 {
  margin-top: -650px !important;
}
.mt--700 {
  margin-top: -700px !important;
}
/* -- margin bottom */
.mb-0,
.mb0 {
  margin-bottom: 0px !important;
}
.mb-5,
.mb5 {
  margin-bottom: 5px !important;
}
.mb-10,
.mb10 {
  margin-bottom: 10px !important;
}
.mb-15,
.mb15 {
  margin-bottom: 15px !important;
}
.mb-20,
.mb20 {
  margin-bottom: 20px !important;
}
.mb-25,
.mb25 {
  margin-bottom: 25px !important;
}
.mb-30,
.mb30 {
  margin-bottom: 30px !important;
}
.mb-35,
.mb35 {
  margin-bottom: 35px !important;
}
.mb-40,
.mb40 {
  margin-bottom: 40px !important;
}
.mb-45,
.mb45 {
  margin-bottom: 45px !important;
}
.mb-50,
.mb50 {
  margin-bottom: 50px !important;
}
.mb-55,
.mb55 {
  margin-bottom: 55px !important;
}
.mb-60,
.mb60 {
  margin-bottom: 60px !important;
}
.mb-65,
.mb65 {
  margin-bottom: 65px !important;
}
.mb-70,
.mb70 {
  margin-bottom: 70px !important;
}
.mb-75,
.mb75 {
  margin-bottom: 75px !important;
}
.mb-80,
.mb80 {
  margin-bottom: 80px !important;
}
.mb-85,
.mb85 {
  margin-bottom: 85px !important;
}
.mb-90,
.mb90 {
  margin-bottom: 90px !important;
}
.mb-95,
.mb95 {
  margin-bottom: 95px !important;
}
.mb-100,
.mb100 {
  margin-bottom: 100px !important;
}
.mb-110,
.mb110 {
  margin-bottom: 110px !important;
}
.mb-120,
.mb120 {
  margin-bottom: 120px !important;
}
.mb-130,
.mb130 {
  margin-bottom: 130px !important;
}
.mb-140,
.mb140 {
  margin-bottom: 140px !important;
}
.mb-150,
.mb150 {
  margin-bottom: 150px !important;
}
.mb-160,
.mb160 {
  margin-bottom: 160px !important;
}
.mb-170,
.mb170 {
  margin-bottom: 170px !important;
}
.mb-180,
.mb180 {
  margin-bottom: 180px !important;
}
.mb-190,
.mb190 {
  margin-bottom: 190px !important;
}
.mb-200,
.mb200 {
  margin-bottom: 200px !important;
}
.mb-210,
.mb210 {
  margin-bottom: 210px !important;
}
.mb-220,
.mb220 {
  margin-bottom: 220px !important;
}
.mb-230,
.mb230 {
  margin-bottom: 230px !important;
}
.mb-240,
.mb240 {
  margin-bottom: 240px !important;
}
.mb-250,
.mb250 {
  margin-bottom: 250px !important;
}
.mb-260,
.mb260 {
  margin-bottom: 260px !important;
}
.mb-270,
.mb270 {
  margin-bottom: 270px !important;
}
.mb-280,
.mb280 {
  margin-bottom: 280px !important;
}
.mb-290,
.mb290 {
  margin-bottom: 290px !important;
}
.mb-300,
.mb300 {
  margin-bottom: 300px !important;
}
.mb-350,
.mb350 {
  margin-bottom: 350px !important;
}
.mb-400,
.mb400 {
  margin-bottom: 400px !important;
}
.mb-450,
.mb450 {
  margin-bottom: 450px !important;
}
.mb-500,
.mb500 {
  margin-bottom: 500px !important;
}
.mb-550,
.mb550 {
  margin-bottom: 550px !important;
}
.mb-600,
.mb600 {
  margin-bottom: 600px !important;
}
.mb-650,
.mb650 {
  margin-bottom: 650px !important;
}
.mb-700,
.mb700 {
  margin-bottom: 700px !important;
}
/* -- margin bottom negative */
.mb--0 {
  margin-bottom: 0px !important;
}
.mb--5 {
  margin-bottom: -5px !important;
}
.mb--10 {
  margin-bottom: -10px !important;
}
.mb--15 {
  margin-bottom: -15px !important;
}
.mb--20 {
  margin-bottom: -20px !important;
}
.mb--25 {
  margin-bottom: -25px !important;
}
.mb--30 {
  margin-bottom: -30px !important;
}
.mb--35 {
  margin-bottom: -35px !important;
}
.mb--40 {
  margin-bottom: -40px !important;
}
.mb--45 {
  margin-bottom: -45px !important;
}
.mb--50 {
  margin-bottom: -50px !important;
}
.mb--55 {
  margin-bottom: -55px !important;
}
.mb--60 {
  margin-bottom: -60px !important;
}
.mb--65 {
  margin-bottom: -65px !important;
}
.mb--70 {
  margin-bottom: -70px !important;
}
.mb--75 {
  margin-bottom: -75px !important;
}
.mb--80 {
  margin-bottom: -80px !important;
}
.mb--85 {
  margin-bottom: -85px !important;
}
.mb--90 {
  margin-bottom: -90px !important;
}
.mb--95 {
  margin-bottom: -95px !important;
}
.mb--100 {
  margin-bottom: -100px !important;
}
.mb--110 {
  margin-bottom: -110px !important;
}
.mb--120 {
  margin-bottom: -120px !important;
}
.mb--130 {
  margin-bottom: -130px !important;
}
.mb--140 {
  margin-bottom: -140px !important;
}
.mb--150 {
  margin-bottom: -150px !important;
}
.mb--160 {
  margin-bottom: -160px !important;
}
.mb--170 {
  margin-bottom: -170px !important;
}
.mb--180 {
  margin-bottom: -180px !important;
}
.mb--190 {
  margin-bottom: -190px !important;
}
.mb--200 {
  margin-bottom: -200px !important;
}
.mb--210 {
  margin-bottom: -210px !important;
}
.mb--220 {
  margin-bottom: -220px !important;
}
.mb--230 {
  margin-bottom: -230px !important;
}
.mb--240 {
  margin-bottom: -240px !important;
}
.mb--250 {
  margin-bottom: -250px !important;
}
.mb--260 {
  margin-bottom: -260px !important;
}
.mb--270 {
  margin-bottom: -270px !important;
}
.mb--280 {
  margin-bottom: -280px !important;
}
.mb--290 {
  margin-bottom: -290px !important;
}
.mb--300 {
  margin-bottom: -300px !important;
}
.mb--350 {
  margin-bottom: -350px !important;
}
.mb--400 {
  margin-bottom: -400px !important;
}
.mb--450 {
  margin-bottom: -450px !important;
}
.mb--500 {
  margin-bottom: -500px !important;
}
.mb--550 {
  margin-bottom: -550px !important;
}
.mb--600 {
  margin-bottom: -600px !important;
}
.mb--650 {
  margin-bottom: -650px !important;
}
.mb--700 {
  margin-bottom: -700px !important;
}
/* -- margin left */
.ml-0,
.ml0 {
  margin-left: 0px !important;
}
.ml-5,
.ml5 {
  margin-left: 5px !important;
}
.ml-10,
.ml10 {
  margin-left: 10px !important;
}
.ml-15,
.ml15 {
  margin-left: 15px !important;
}
.ml-20,
.ml20 {
  margin-left: 20px !important;
}
.ml-25,
.ml25 {
  margin-left: 25px !important;
}
.ml-30,
.ml30 {
  margin-left: 30px !important;
}
.ml-35,
.ml35 {
  margin-left: 35px !important;
}
.ml-40,
.ml40 {
  margin-left: 40px !important;
}
.ml-45,
.ml45 {
  margin-left: 45px !important;
}
.ml-50,
.ml50 {
  margin-left: 50px !important;
}
.ml-55,
.ml55 {
  margin-left: 55px !important;
}
.ml-60,
.ml60 {
  margin-left: 60px !important;
}
.ml-65,
.ml65 {
  margin-left: 65px !important;
}
.ml-70,
.ml70 {
  margin-left: 70px !important;
}
.ml-75,
.ml75 {
  margin-left: 75px !important;
}
.ml-80,
.ml80 {
  margin-left: 80px !important;
}
.ml-85,
.ml85 {
  margin-left: 85px !important;
}
.ml-90,
.ml90 {
  margin-left: 90px !important;
}
.ml-95,
.ml95 {
  margin-left: 95px !important;
}
.ml-100,
.ml100 {
  margin-left: 100px !important;
}
.ml-110,
.ml110 {
  margin-left: 110px !important;
}
.ml-120,
.ml120 {
  margin-left: 120px !important;
}
.ml-130,
.ml130 {
  margin-left: 130px !important;
}
.ml-140,
.ml140 {
  margin-left: 140px !important;
}
.ml-150,
.ml150 {
  margin-left: 150px !important;
}
.ml-160,
.ml160 {
  margin-left: 160px !important;
}
.ml-170,
.ml170 {
  margin-left: 170px !important;
}
.ml-180,
.ml180 {
  margin-left: 180px !important;
}
.ml-190,
.ml190 {
  margin-left: 190px !important;
}
.ml-200,
.ml200 {
  margin-left: 200px !important;
}
.ml-210,
.ml210 {
  margin-left: 210px !important;
}
.ml-220,
.ml220 {
  margin-left: 220px !important;
}
.ml-230,
.ml230 {
  margin-left: 230px !important;
}
.ml-240,
.ml240 {
  margin-left: 240px !important;
}
.ml-250,
.ml250 {
  margin-left: 250px !important;
}
.ml-260,
.ml260 {
  margin-left: 260px !important;
}
.ml-270,
.ml270 {
  margin-left: 270px !important;
}
.ml-280,
.ml280 {
  margin-left: 280px !important;
}
.ml-290,
.ml290 {
  margin-left: 290px !important;
}
.ml-300,
.ml300 {
  margin-left: 300px !important;
}
.ml-350,
.ml350 {
  margin-left: 350px !important;
}
.ml-400,
.ml400 {
  margin-left: 400px !important;
}
.ml-450,
.ml450 {
  margin-left: 450px !important;
}
.ml-500,
.ml500 {
  margin-left: 500px !important;
}
.ml-550,
.ml550 {
  margin-left: 550px !important;
}
.ml-600,
.ml600 {
  margin-left: 600px !important;
}
.ml-650,
.ml650 {
  margin-left: 650px !important;
}
.ml-700,
.ml700 {
  margin-left: 700px !important;
}
/* -- margin left negative */
.ml--0 {
  margin-left: 0px !important;
}
.ml--5 {
  margin-left: -5px !important;
}
.ml--10 {
  margin-left: -10px !important;
}
.ml--15 {
  margin-left: -15px !important;
}
.ml--20 {
  margin-left: -20px !important;
}
.ml--25 {
  margin-left: -25px !important;
}
.ml--30 {
  margin-left: -30px !important;
}
.ml--35 {
  margin-left: -35px !important;
}
.ml--40 {
  margin-left: -40px !important;
}
.ml--45 {
  margin-left: -45px !important;
}
.ml--50 {
  margin-left: -50px !important;
}
.ml--55 {
  margin-left: -55px !important;
}
.ml--60 {
  margin-left: -60px !important;
}
.ml--65 {
  margin-left: -65px !important;
}
.ml--70 {
  margin-left: -70px !important;
}
.ml--75 {
  margin-left: -75px !important;
}
.ml--80 {
  margin-left: -80px !important;
}
.ml--85 {
  margin-left: -85px !important;
}
.ml--90 {
  margin-left: -90px !important;
}
.ml--95 {
  margin-left: -95px !important;
}
.ml--100 {
  margin-left: -100px !important;
}
.ml--110 {
  margin-left: -110px !important;
}
.ml--120 {
  margin-left: -120px !important;
}
.ml--130 {
  margin-left: -130px !important;
}
.ml--140 {
  margin-left: -140px !important;
}
.ml--150 {
  margin-left: -150px !important;
}
.ml--160 {
  margin-left: -160px !important;
}
.ml--170 {
  margin-left: -170px !important;
}
.ml--180 {
  margin-left: -180px !important;
}
.ml--190 {
  margin-left: -190px !important;
}
.ml--200 {
  margin-left: -200px !important;
}
.ml--210 {
  margin-left: -210px !important;
}
.ml--220 {
  margin-left: -220px !important;
}
.ml--230 {
  margin-left: -230px !important;
}
.ml--240 {
  margin-left: -240px !important;
}
.ml--250 {
  margin-left: -250px !important;
}
.ml--260 {
  margin-left: -260px !important;
}
.ml--270 {
  margin-left: -270px !important;
}
.ml--280 {
  margin-left: -280px !important;
}
.ml--290 {
  margin-left: -290px !important;
}
.ml--300 {
  margin-left: -300px !important;
}
.ml--350 {
  margin-left: -350px !important;
}
.ml--400 {
  margin-left: -400px !important;
}
.ml--450 {
  margin-left: -450px !important;
}
.ml--500 {
  margin-left: -500px !important;
}
.ml--550 {
  margin-left: -550px !important;
}
.ml--600 {
  margin-left: -600px !important;
}
.ml--650 {
  margin-left: -650px !important;
}
.ml--700 {
  margin-left: -700px !important;
}
/* -- margin left auto */
.ml-a,
.mla {
  float: none;
  margin-left: auto !important;
}
/* -- margin right */
.mr-0,
.mr0 {
  margin-right: 0px !important;
}
.mr-5,
.mr5 {
  margin-right: 5px !important;
}
.mr-10,
.mr10 {
  margin-right: 10px !important;
}
.mr-15,
.mr15 {
  margin-right: 15px !important;
}
.mr-20,
.mr20 {
  margin-right: 20px !important;
}
.mr-25,
.mr25 {
  margin-right: 25px !important;
}
.mr-30,
.mr30 {
  margin-right: 30px !important;
}
.mr-35,
.mr35 {
  margin-right: 35px !important;
}
.mr-40,
.mr40 {
  margin-right: 40px !important;
}
.mr-45,
.mr45 {
  margin-right: 45px !important;
}
.mr-50,
.mr50 {
  margin-right: 50px !important;
}
.mr-55,
.mr55 {
  margin-right: 55px !important;
}
.mr-60,
.mr60 {
  margin-right: 60px !important;
}
.mr-65,
.mr65 {
  margin-right: 65px !important;
}
.mr-70,
.mr70 {
  margin-right: 70px !important;
}
.mr-75,
.mr75 {
  margin-right: 75px !important;
}
.mr-80,
.mr80 {
  margin-right: 80px !important;
}
.mr-85,
.mr85 {
  margin-right: 85px !important;
}
.mr-90,
.mr90 {
  margin-right: 90px !important;
}
.mr-95,
.mr95 {
  margin-right: 95px !important;
}
.mr-100,
.mr100 {
  margin-right: 100px !important;
}
.mr-110,
.mr110 {
  margin-right: 110px !important;
}
.mr-120,
.mr120 {
  margin-right: 120px !important;
}
.mr-130,
.mr130 {
  margin-right: 130px !important;
}
.mr-140,
.mr140 {
  margin-right: 140px !important;
}
.mr-150,
.mr150 {
  margin-right: 150px !important;
}
.mr-160,
.mr160 {
  margin-right: 160px !important;
}
.mr-170,
.mr170 {
  margin-right: 170px !important;
}
.mr-180,
.mr180 {
  margin-right: 180px !important;
}
.mr-190,
.mr190 {
  margin-right: 190px !important;
}
.mr-200,
.mr200 {
  margin-right: 200px !important;
}
.mr-210,
.mr210 {
  margin-right: 210px !important;
}
.mr-220,
.mr220 {
  margin-right: 220px !important;
}
.mr-230,
.mr230 {
  margin-right: 230px !important;
}
.mr-240,
.mr240 {
  margin-right: 240px !important;
}
.mr-250,
.mr250 {
  margin-right: 250px !important;
}
.mr-260,
.mr260 {
  margin-right: 260px !important;
}
.mr-270,
.mr270 {
  margin-right: 270px !important;
}
.mr-280,
.mr280 {
  margin-right: 280px !important;
}
.mr-290,
.mr290 {
  margin-right: 290px !important;
}
.mr-300,
.mr300 {
  margin-right: 300px !important;
}
.mr-350,
.mr350 {
  margin-right: 350px !important;
}
.mr-400,
.mr400 {
  margin-right: 400px !important;
}
.mr-450,
.mr450 {
  margin-right: 450px !important;
}
.mr-500,
.mr500 {
  margin-right: 500px !important;
}
.mr-550,
.mr550 {
  margin-right: 550px !important;
}
.mr-600,
.mr600 {
  margin-right: 600px !important;
}
.mr-650,
.mr650 {
  margin-right: 650px !important;
}
.mr-700,
.mr700 {
  margin-right: 700px !important;
}
/* -- margin right negative */
.mr--0 {
  margin-right: 0px !important;
}
.mr--5 {
  margin-right: -5px !important;
}
.mr--10 {
  margin-right: -10px !important;
}
.mr--15 {
  margin-right: -15px !important;
}
.mr--20 {
  margin-right: -20px !important;
}
.mr--25 {
  margin-right: -25px !important;
}
.mr--30 {
  margin-right: -30px !important;
}
.mr--35 {
  margin-right: -35px !important;
}
.mr--40 {
  margin-right: -40px !important;
}
.mr--45 {
  margin-right: -45px !important;
}
.mr--50 {
  margin-right: -50px !important;
}
.mr--55 {
  margin-right: -55px !important;
}
.mr--60 {
  margin-right: -60px !important;
}
.mr--65 {
  margin-right: -65px !important;
}
.mr--70 {
  margin-right: -70px !important;
}
.mr--75 {
  margin-right: -75px !important;
}
.mr--80 {
  margin-right: -80px !important;
}
.mr--85 {
  margin-right: -85px !important;
}
.mr--90 {
  margin-right: -90px !important;
}
.mr--95 {
  margin-right: -95px !important;
}
.mr--100 {
  margin-right: -100px !important;
}
.mr--110 {
  margin-right: -110px !important;
}
.mr--120 {
  margin-right: -120px !important;
}
.mr--130 {
  margin-right: -130px !important;
}
.mr--140 {
  margin-right: -140px !important;
}
.mr--150 {
  margin-right: -150px !important;
}
.mr--160 {
  margin-right: -160px !important;
}
.mr--170 {
  margin-right: -170px !important;
}
.mr--180 {
  margin-right: -180px !important;
}
.mr--190 {
  margin-right: -190px !important;
}
.mr--200 {
  margin-right: -200px !important;
}
.mr--210 {
  margin-right: -210px !important;
}
.mr--220 {
  margin-right: -220px !important;
}
.mr--230 {
  margin-right: -230px !important;
}
.mr--240 {
  margin-right: -240px !important;
}
.mr--250 {
  margin-right: -250px !important;
}
.mr--260 {
  margin-right: -260px !important;
}
.mr--270 {
  margin-right: -270px !important;
}
.mr--280 {
  margin-right: -280px !important;
}
.mr--290 {
  margin-right: -290px !important;
}
.mr--300 {
  margin-right: -300px !important;
}
.mr--350 {
  margin-right: -350px !important;
}
.mr--400 {
  margin-right: -400px !important;
}
.mr--450 {
  margin-right: -450px !important;
}
.mr--500 {
  margin-right: -500px !important;
}
.mr--550 {
  margin-right: -550px !important;
}
.mr--600 {
  margin-right: -600px !important;
}
.mr--650 {
  margin-right: -650px !important;
}
.mr--700 {
  margin-right: -700px !important;
}
/* -- margin right auto */
.mr-a,
.mra {
  float: none;
  margin-right: auto !important;
}
/* =# PADDINGS #= */
/* -- padding */
.p-0,
.p0 {
  padding: 0px !important;
}
.p-5,
.p5 {
  padding: 5px !important;
}
.p-10,
.p10 {
  padding: 10px !important;
}
.p-15,
.p15 {
  padding: 15px !important;
}
.p-20,
.p20 {
  padding: 20px !important;
}
.p-25,
.p25 {
  padding: 25px !important;
}
.p-30,
.p30 {
  padding: 30px !important;
}
.p-35,
.p35 {
  padding: 35px !important;
}
.p-40,
.p40 {
  padding: 40px !important;
}
.p-45,
.p45 {
  padding: 45px !important;
}
.p-50,
.p50 {
  padding: 50px !important;
}
.p-55,
.p55 {
  padding: 55px !important;
}
.p-60,
.p60 {
  padding: 60px !important;
}
.p-65,
.p65 {
  padding: 65px !important;
}
.p-70,
.p70 {
  padding: 70px !important;
}
.p-75,
.p75 {
  padding: 75px !important;
}
.p-80,
.p80 {
  padding: 80px !important;
}
.p-85,
.p85 {
  padding: 85px !important;
}
.p-90,
.p90 {
  padding: 90px !important;
}
.p-95,
.p95 {
  padding: 95px !important;
}
.p-100,
.p100 {
  padding: 100px !important;
}
.p-110,
.p110 {
  padding: 110px !important;
}
.p-120,
.p120 {
  padding: 120px !important;
}
.p-130,
.p130 {
  padding: 130px !important;
}
.p-140,
.p140 {
  padding: 140px !important;
}
.p-150,
.p150 {
  padding: 150px !important;
}
.p-160,
.p160 {
  padding: 160px !important;
}
.p-170,
.p170 {
  padding: 170px !important;
}
.p-180,
.p180 {
  padding: 180px !important;
}
.p-190,
.p190 {
  padding: 190px !important;
}
.p-200,
.p200 {
  padding: 200px !important;
}
.p-210,
.p210 {
  padding: 210px !important;
}
.p-220,
.p220 {
  padding: 220px !important;
}
.p-230,
.p230 {
  padding: 230px !important;
}
.p-240,
.p240 {
  padding: 240px !important;
}
.p-250,
.p250 {
  padding: 250px !important;
}
.p-260,
.p260 {
  padding: 260px !important;
}
.p-270,
.p270 {
  padding: 270px !important;
}
.p-280,
.p280 {
  padding: 280px !important;
}
.p-290,
.p290 {
  padding: 290px !important;
}
.p-300,
.p300 {
  padding: 300px !important;
}
.p-350,
.p350 {
  padding: 350px !important;
}
.p-400,
.p400 {
  padding: 400px !important;
}
.p-450,
.p450 {
  padding: 450px !important;
}
.p-500,
.p500 {
  padding: 500px !important;
}
.p-550,
.p550 {
  padding: 550px !important;
}
.p-600,
.p600 {
  padding: 600px !important;
}
.p-650,
.p650 {
  padding: 650px !important;
}
.p-700,
.p700 {
  padding: 700px !important;
}
/* -- padding horizontal */
.ph-0,
.ph0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ph-5,
.ph5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.ph-10,
.ph10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ph-15,
.ph15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.ph-20,
.ph20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.ph-25,
.ph25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.ph-30,
.ph30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.ph-35,
.ph35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.ph-40,
.ph40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.ph-45,
.ph45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.ph-50,
.ph50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.ph-55,
.ph55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}
.ph-60,
.ph60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.ph-65,
.ph65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
.ph-70,
.ph70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}
.ph-75,
.ph75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}
.ph-80,
.ph80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.ph-85,
.ph85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}
.ph-90,
.ph90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}
.ph-95,
.ph95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}
.ph-100,
.ph100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.ph-110,
.ph110 {
  padding-left: 110px !important;
  padding-right: 110px !important;
}
.ph-120,
.ph120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}
.ph-130,
.ph130 {
  padding-left: 130px !important;
  padding-right: 130px !important;
}
.ph-140,
.ph140 {
  padding-left: 140px !important;
  padding-right: 140px !important;
}
.ph-150,
.ph150 {
  padding-left: 150px !important;
  padding-right: 150px !important;
}
.ph-160,
.ph160 {
  padding-left: 160px !important;
  padding-right: 160px !important;
}
.ph-170,
.ph170 {
  padding-left: 170px !important;
  padding-right: 170px !important;
}
.ph-180,
.ph180 {
  padding-left: 180px !important;
  padding-right: 180px !important;
}
.ph-190,
.ph190 {
  padding-left: 190px !important;
  padding-right: 190px !important;
}
.ph-200,
.ph200 {
  padding-left: 200px !important;
  padding-right: 200px !important;
}
.ph-210,
.ph210 {
  padding-left: 210px !important;
  padding-right: 210px !important;
}
.ph-220,
.ph220 {
  padding-left: 220px !important;
  padding-right: 220px !important;
}
.ph-230,
.ph230 {
  padding-left: 230px !important;
  padding-right: 230px !important;
}
.ph-240,
.ph240 {
  padding-left: 240px !important;
  padding-right: 240px !important;
}
.ph-250,
.ph250 {
  padding-left: 250px !important;
  padding-right: 250px !important;
}
.ph-260,
.ph260 {
  padding-left: 260px !important;
  padding-right: 260px !important;
}
.ph-270,
.ph270 {
  padding-left: 270px !important;
  padding-right: 270px !important;
}
.ph-280,
.ph280 {
  padding-left: 280px !important;
  padding-right: 280px !important;
}
.ph-290,
.ph290 {
  padding-left: 290px !important;
  padding-right: 290px !important;
}
.ph-300,
.ph300 {
  padding-left: 300px !important;
  padding-right: 300px !important;
}
.ph-350,
.ph350 {
  padding-left: 350px !important;
  padding-right: 350px !important;
}
.ph-400,
.ph400 {
  padding-left: 400px !important;
  padding-right: 400px !important;
}
.ph-450,
.ph450 {
  padding-left: 450px !important;
  padding-right: 450px !important;
}
.ph-500,
.ph500 {
  padding-left: 500px !important;
  padding-right: 500px !important;
}
.ph-550,
.ph550 {
  padding-left: 550px !important;
  padding-right: 550px !important;
}
.ph-600,
.ph600 {
  padding-left: 600px !important;
  padding-right: 600px !important;
}
.ph-650,
.ph650 {
  padding-left: 650px !important;
  padding-right: 650px !important;
}
.ph-700,
.ph700 {
  padding-left: 700px !important;
  padding-right: 700px !important;
}
/* -- padding vertical */
.pv-0,
.pv0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.pv-5,
.pv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.pv-10,
.pv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.pv-15,
.pv15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.pv-20,
.pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.pv-25,
.pv25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.pv-30,
.pv30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.pv-35,
.pv35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.pv-40,
.pv40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.pv-45,
.pv45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.pv-50,
.pv50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.pv-55,
.pv55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}
.pv-60,
.pv60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.pv-65,
.pv65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}
.pv-70,
.pv70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.pv-75,
.pv75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}
.pv-80,
.pv80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.pv-85,
.pv85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}
.pv-90,
.pv90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.pv-95,
.pv95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}
.pv-100,
.pv100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.pv-110,
.pv110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}
.pv-120,
.pv120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}
.pv-130,
.pv130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}
.pv-140,
.pv140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important;
}
.pv-150,
.pv150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}
.pv-160,
.pv160 {
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}
.pv-170,
.pv170 {
  padding-top: 170px !important;
  padding-bottom: 170px !important;
}
.pv-180,
.pv180 {
  padding-top: 180px !important;
  padding-bottom: 180px !important;
}
.pv-190,
.pv190 {
  padding-top: 190px !important;
  padding-bottom: 190px !important;
}
.pv-200,
.pv200 {
  padding-top: 200px !important;
  padding-bottom: 200px !important;
}
.pv-210,
.pv210 {
  padding-top: 210px !important;
  padding-bottom: 210px !important;
}
.pv-220,
.pv220 {
  padding-top: 220px !important;
  padding-bottom: 220px !important;
}
.pv-230,
.pv230 {
  padding-top: 230px !important;
  padding-bottom: 230px !important;
}
.pv-240,
.pv240 {
  padding-top: 240px !important;
  padding-bottom: 240px !important;
}
.pv-250,
.pv250 {
  padding-top: 250px !important;
  padding-bottom: 250px !important;
}
.pv-260,
.pv260 {
  padding-top: 260px !important;
  padding-bottom: 260px !important;
}
.pv-270,
.pv270 {
  padding-top: 270px !important;
  padding-bottom: 270px !important;
}
.pv-280,
.pv280 {
  padding-top: 280px !important;
  padding-bottom: 280px !important;
}
.pv-290,
.pv290 {
  padding-top: 290px !important;
  padding-bottom: 290px !important;
}
.pv-300,
.pv300 {
  padding-top: 300px !important;
  padding-bottom: 300px !important;
}
.pv-350,
.pv350 {
  padding-top: 350px !important;
  padding-bottom: 350px !important;
}
.pv-400,
.pv400 {
  padding-top: 400px !important;
  padding-bottom: 400px !important;
}
.pv-450,
.pv450 {
  padding-top: 450px !important;
  padding-bottom: 450px !important;
}
.pv-500,
.pv500 {
  padding-top: 500px !important;
  padding-bottom: 500px !important;
}
.pv-550,
.pv550 {
  padding-top: 550px !important;
  padding-bottom: 550px !important;
}
.pv-600,
.pv600 {
  padding-top: 600px !important;
  padding-bottom: 600px !important;
}
.pv-650,
.pv650 {
  padding-top: 650px !important;
  padding-bottom: 650px !important;
}
.pv-700,
.pv700 {
  padding-top: 700px !important;
  padding-bottom: 700px !important;
}
/* -- padding top */
.pt-0,
.pt0 {
  padding-top: 0px !important;
}
.pt-5,
.pt5 {
  padding-top: 5px !important;
}
.pt-10,
.pt10 {
  padding-top: 10px !important;
}
.pt-15,
.pt15 {
  padding-top: 15px !important;
}
.pt-20,
.pt20 {
  padding-top: 20px !important;
}
.pt-25,
.pt25 {
  padding-top: 25px !important;
}
.pt-30,
.pt30 {
  padding-top: 30px !important;
}
.pt-35,
.pt35 {
  padding-top: 35px !important;
}
.pt-40,
.pt40 {
  padding-top: 40px !important;
}
.pt-45,
.pt45 {
  padding-top: 45px !important;
}
.pt-50,
.pt50 {
  padding-top: 50px !important;
}
.pt-55,
.pt55 {
  padding-top: 55px !important;
}
.pt-60,
.pt60 {
  padding-top: 60px !important;
}
.pt-65,
.pt65 {
  padding-top: 65px !important;
}
.pt-70,
.pt70 {
  padding-top: 70px !important;
}
.pt-75,
.pt75 {
  padding-top: 75px !important;
}
.pt-80,
.pt80 {
  padding-top: 80px !important;
}
.pt-85,
.pt85 {
  padding-top: 85px !important;
}
.pt-90,
.pt90 {
  padding-top: 90px !important;
}
.pt-95,
.pt95 {
  padding-top: 95px !important;
}
.pt-100,
.pt100 {
  padding-top: 100px !important;
}
.pt-110,
.pt110 {
  padding-top: 110px !important;
}
.pt-120,
.pt120 {
  padding-top: 120px !important;
}
.pt-130,
.pt130 {
  padding-top: 130px !important;
}
.pt-140,
.pt140 {
  padding-top: 140px !important;
}
.pt-150,
.pt150 {
  padding-top: 150px !important;
}
.pt-160,
.pt160 {
  padding-top: 160px !important;
}
.pt-170,
.pt170 {
  padding-top: 170px !important;
}
.pt-180,
.pt180 {
  padding-top: 180px !important;
}
.pt-190,
.pt190 {
  padding-top: 190px !important;
}
.pt-200,
.pt200 {
  padding-top: 200px !important;
}
.pt-210,
.pt210 {
  padding-top: 210px !important;
}
.pt-220,
.pt220 {
  padding-top: 220px !important;
}
.pt-230,
.pt230 {
  padding-top: 230px !important;
}
.pt-240,
.pt240 {
  padding-top: 240px !important;
}
.pt-250,
.pt250 {
  padding-top: 250px !important;
}
.pt-260,
.pt260 {
  padding-top: 260px !important;
}
.pt-270,
.pt270 {
  padding-top: 270px !important;
}
.pt-280,
.pt280 {
  padding-top: 280px !important;
}
.pt-290,
.pt290 {
  padding-top: 290px !important;
}
.pt-300,
.pt300 {
  padding-top: 300px !important;
}
.pt-350,
.pt350 {
  padding-top: 350px !important;
}
.pt-400,
.pt400 {
  padding-top: 400px !important;
}
.pt-450,
.pt450 {
  padding-top: 450px !important;
}
.pt-500,
.pt500 {
  padding-top: 500px !important;
}
.pt-550,
.pt550 {
  padding-top: 550px !important;
}
.pt-600,
.pt600 {
  padding-top: 600px !important;
}
.pt-650,
.pt650 {
  padding-top: 650px !important;
}
.pt-700,
.pt700 {
  padding-top: 700px !important;
}
/* -- padding bottom */
.pb-0,
.pb0 {
  padding-bottom: 0px !important;
}
.pb-5,
.pb5 {
  padding-bottom: 5px !important;
}
.pb-10,
.pb10 {
  padding-bottom: 10px !important;
}
.pb-15,
.pb15 {
  padding-bottom: 15px !important;
}
.pb-20,
.pb20 {
  padding-bottom: 20px !important;
}
.pb-25,
.pb25 {
  padding-bottom: 25px !important;
}
.pb-30,
.pb30 {
  padding-bottom: 30px !important;
}
.pb-35,
.pb35 {
  padding-bottom: 35px !important;
}
.pb-40,
.pb40 {
  padding-bottom: 40px !important;
}
.pb-45,
.pb45 {
  padding-bottom: 45px !important;
}
.pb-50,
.pb50 {
  padding-bottom: 50px !important;
}
.pb-55,
.pb55 {
  padding-bottom: 55px !important;
}
.pb-60,
.pb60 {
  padding-bottom: 60px !important;
}
.pb-65,
.pb65 {
  padding-bottom: 65px !important;
}
.pb-70,
.pb70 {
  padding-bottom: 70px !important;
}
.pb-75,
.pb75 {
  padding-bottom: 75px !important;
}
.pb-80,
.pb80 {
  padding-bottom: 80px !important;
}
.pb-85,
.pb85 {
  padding-bottom: 85px !important;
}
.pb-90,
.pb90 {
  padding-bottom: 90px !important;
}
.pb-95,
.pb95 {
  padding-bottom: 95px !important;
}
.pb-100,
.pb100 {
  padding-bottom: 100px !important;
}
.pb-110,
.pb110 {
  padding-bottom: 110px !important;
}
.pb-120,
.pb120 {
  padding-bottom: 120px !important;
}
.pb-130,
.pb130 {
  padding-bottom: 130px !important;
}
.pb-140,
.pb140 {
  padding-bottom: 140px !important;
}
.pb-150,
.pb150 {
  padding-bottom: 150px !important;
}
.pb-160,
.pb160 {
  padding-bottom: 160px !important;
}
.pb-170,
.pb170 {
  padding-bottom: 170px !important;
}
.pb-180,
.pb180 {
  padding-bottom: 180px !important;
}
.pb-190,
.pb190 {
  padding-bottom: 190px !important;
}
.pb-200,
.pb200 {
  padding-bottom: 200px !important;
}
.pb-210,
.pb210 {
  padding-bottom: 210px !important;
}
.pb-220,
.pb220 {
  padding-bottom: 220px !important;
}
.pb-230,
.pb230 {
  padding-bottom: 230px !important;
}
.pb-240,
.pb240 {
  padding-bottom: 240px !important;
}
.pb-250,
.pb250 {
  padding-bottom: 250px !important;
}
.pb-260,
.pb260 {
  padding-bottom: 260px !important;
}
.pb-270,
.pb270 {
  padding-bottom: 270px !important;
}
.pb-280,
.pb280 {
  padding-bottom: 280px !important;
}
.pb-290,
.pb290 {
  padding-bottom: 290px !important;
}
.pb-300,
.pb300 {
  padding-bottom: 300px !important;
}
.pb-350,
.pb350 {
  padding-bottom: 350px !important;
}
.pb-400,
.pb400 {
  padding-bottom: 400px !important;
}
.pb-450,
.pb450 {
  padding-bottom: 450px !important;
}
.pb-500,
.pb500 {
  padding-bottom: 500px !important;
}
.pb-550,
.pb550 {
  padding-bottom: 550px !important;
}
.pb-600,
.pb600 {
  padding-bottom: 600px !important;
}
.pb-650,
.pb650 {
  padding-bottom: 650px !important;
}
.pb-700,
.pb700 {
  padding-bottom: 700px !important;
}
/* -- padding left */
.pl-0,
.pl0 {
  padding-left: 0px !important;
}
.pl-5,
.pl5 {
  padding-left: 5px !important;
}
.pl-10,
.pl10 {
  padding-left: 10px !important;
}
.pl-15,
.pl15 {
  padding-left: 15px !important;
}
.pl-20,
.pl20 {
  padding-left: 20px !important;
}
.pl-25,
.pl25 {
  padding-left: 25px !important;
}
.pl-30,
.pl30 {
  padding-left: 30px !important;
}
.pl-35,
.pl35 {
  padding-left: 35px !important;
}
.pl-40,
.pl40 {
  padding-left: 40px !important;
}
.pl-45,
.pl45 {
  padding-left: 45px !important;
}
.pl-50,
.pl50 {
  padding-left: 50px !important;
}
.pl-55,
.pl55 {
  padding-left: 55px !important;
}
.pl-60,
.pl60 {
  padding-left: 60px !important;
}
.pl-65,
.pl65 {
  padding-left: 65px !important;
}
.pl-70,
.pl70 {
  padding-left: 70px !important;
}
.pl-75,
.pl75 {
  padding-left: 75px !important;
}
.pl-80,
.pl80 {
  padding-left: 80px !important;
}
.pl-85,
.pl85 {
  padding-left: 85px !important;
}
.pl-90,
.pl90 {
  padding-left: 90px !important;
}
.pl-95,
.pl95 {
  padding-left: 95px !important;
}
.pl-100,
.pl100 {
  padding-left: 100px !important;
}
.pl-110,
.pl110 {
  padding-left: 110px !important;
}
.pl-120,
.pl120 {
  padding-left: 120px !important;
}
.pl-130,
.pl130 {
  padding-left: 130px !important;
}
.pl-140,
.pl140 {
  padding-left: 140px !important;
}
.pl-150,
.pl150 {
  padding-left: 150px !important;
}
.pl-160,
.pl160 {
  padding-left: 160px !important;
}
.pl-170,
.pl170 {
  padding-left: 170px !important;
}
.pl-180,
.pl180 {
  padding-left: 180px !important;
}
.pl-190,
.pl190 {
  padding-left: 190px !important;
}
.pl-200,
.pl200 {
  padding-left: 200px !important;
}
.pl-210,
.pl210 {
  padding-left: 210px !important;
}
.pl-220,
.pl220 {
  padding-left: 220px !important;
}
.pl-230,
.pl230 {
  padding-left: 230px !important;
}
.pl-240,
.pl240 {
  padding-left: 240px !important;
}
.pl-250,
.pl250 {
  padding-left: 250px !important;
}
.pl-260,
.pl260 {
  padding-left: 260px !important;
}
.pl-270,
.pl270 {
  padding-left: 270px !important;
}
.pl-280,
.pl280 {
  padding-left: 280px !important;
}
.pl-290,
.pl290 {
  padding-left: 290px !important;
}
.pl-300,
.pl300 {
  padding-left: 300px !important;
}
.pl-350,
.pl350 {
  padding-left: 350px !important;
}
.pl-400,
.pl400 {
  padding-left: 400px !important;
}
.pl-450,
.pl450 {
  padding-left: 450px !important;
}
.pl-500,
.pl500 {
  padding-left: 500px !important;
}
.pl-550,
.pl550 {
  padding-left: 550px !important;
}
.pl-600,
.pl600 {
  padding-left: 600px !important;
}
.pl-650,
.pl650 {
  padding-left: 650px !important;
}
.pl-700,
.pl700 {
  padding-left: 700px !important;
}
/* -- padding right */
.pr-0,
.pr0 {
  padding-right: 0px !important;
}
.pr-5,
.pr5 {
  padding-right: 5px !important;
}
.pr-10,
.pr10 {
  padding-right: 10px !important;
}
.pr-15,
.pr15 {
  padding-right: 15px !important;
}
.pr-20,
.pr20 {
  padding-right: 20px !important;
}
.pr-25,
.pr25 {
  padding-right: 25px !important;
}
.pr-30,
.pr30 {
  padding-right: 30px !important;
}
.pr-35,
.pr35 {
  padding-right: 35px !important;
}
.pr-40,
.pr40 {
  padding-right: 40px !important;
}
.pr-45,
.pr45 {
  padding-right: 45px !important;
}
.pr-50,
.pr50 {
  padding-right: 50px !important;
}
.pr-55,
.pr55 {
  padding-right: 55px !important;
}
.pr-60,
.pr60 {
  padding-right: 60px !important;
}
.pr-65,
.pr65 {
  padding-right: 65px !important;
}
.pr-70,
.pr70 {
  padding-right: 70px !important;
}
.pr-75,
.pr75 {
  padding-right: 75px !important;
}
.pr-80,
.pr80 {
  padding-right: 80px !important;
}
.pr-85,
.pr85 {
  padding-right: 85px !important;
}
.pr-90,
.pr90 {
  padding-right: 90px !important;
}
.pr-95,
.pr95 {
  padding-right: 95px !important;
}
.pr-100,
.pr100 {
  padding-right: 100px !important;
}
.pr-110,
.pr110 {
  padding-right: 110px !important;
}
.pr-120,
.pr120 {
  padding-right: 120px !important;
}
.pr-130,
.pr130 {
  padding-right: 130px !important;
}
.pr-140,
.pr140 {
  padding-right: 140px !important;
}
.pr-150,
.pr150 {
  padding-right: 150px !important;
}
.pr-160,
.pr160 {
  padding-right: 160px !important;
}
.pr-170,
.pr170 {
  padding-right: 170px !important;
}
.pr-180,
.pr180 {
  padding-right: 180px !important;
}
.pr-190,
.pr190 {
  padding-right: 190px !important;
}
.pr-200,
.pr200 {
  padding-right: 200px !important;
}
.pr-210,
.pr210 {
  padding-right: 210px !important;
}
.pr-220,
.pr220 {
  padding-right: 220px !important;
}
.pr-230,
.pr230 {
  padding-right: 230px !important;
}
.pr-240,
.pr240 {
  padding-right: 240px !important;
}
.pr-250,
.pr250 {
  padding-right: 250px !important;
}
.pr-260,
.pr260 {
  padding-right: 260px !important;
}
.pr-270,
.pr270 {
  padding-right: 270px !important;
}
.pr-280,
.pr280 {
  padding-right: 280px !important;
}
.pr-290,
.pr290 {
  padding-right: 290px !important;
}
.pr-300,
.pr300 {
  padding-right: 300px !important;
}
.pr-350,
.pr350 {
  padding-right: 350px !important;
}
.pr-400,
.pr400 {
  padding-right: 400px !important;
}
.pr-450,
.pr450 {
  padding-right: 450px !important;
}
.pr-500,
.pr500 {
  padding-right: 500px !important;
}
.pr-550,
.pr550 {
  padding-right: 550px !important;
}
.pr-600,
.pr600 {
  padding-right: 600px !important;
}
.pr-650,
.pr650 {
  padding-right: 650px !important;
}
.pr-700,
.pr700 {
  padding-right: 700px !important;
}
/* =# BORDERS #= */
/* -- border */
.b-0,
.b0 {
  border: 0px solid #445157 !important;
}
.b-1,
.b1 {
  border: 1px solid #445157 !important;
}
.b-2,
.b2 {
  border: 2px solid #445157 !important;
}
.b-3,
.b3 {
  border: 3px solid #445157 !important;
}
.b-4,
.b4 {
  border: 4px solid #445157 !important;
}
.b-5,
.b5 {
  border: 5px solid #445157 !important;
}
.b-6,
.b6 {
  border: 6px solid #445157 !important;
}
.b-7,
.b7 {
  border: 7px solid #445157 !important;
}
.b-8,
.b8 {
  border: 8px solid #445157 !important;
}
.b-9,
.b9 {
  border: 9px solid #445157 !important;
}
.b-10,
.b10 {
  border: 10px solid #445157 !important;
}
.b-11,
.b11 {
  border: 11px solid #445157 !important;
}
.b-12,
.b12 {
  border: 12px solid #445157 !important;
}
.b-13,
.b13 {
  border: 13px solid #445157 !important;
}
.b-14,
.b14 {
  border: 14px solid #445157 !important;
}
.b-15,
.b15 {
  border: 15px solid #445157 !important;
}
.b-16,
.b16 {
  border: 16px solid #445157 !important;
}
.b-17,
.b17 {
  border: 17px solid #445157 !important;
}
.b-18,
.b18 {
  border: 18px solid #445157 !important;
}
.b-19,
.b19 {
  border: 19px solid #445157 !important;
}
.b-20,
.b20 {
  border: 20px solid #445157 !important;
}
/* -- border top */
.bt-0,
.bt0 {
  border-top: 0px solid #445157 !important;
}
.bt-1,
.bt1 {
  border-top: 1px solid #445157 !important;
}
.bt-2,
.bt2 {
  border-top: 2px solid #445157 !important;
}
.bt-3,
.bt3 {
  border-top: 3px solid #445157 !important;
}
.bt-4,
.bt4 {
  border-top: 4px solid #445157 !important;
}
.bt-5,
.bt5 {
  border-top: 5px solid #445157 !important;
}
.bt-6,
.bt6 {
  border-top: 6px solid #445157 !important;
}
.bt-7,
.bt7 {
  border-top: 7px solid #445157 !important;
}
.bt-8,
.bt8 {
  border-top: 8px solid #445157 !important;
}
.bt-9,
.bt9 {
  border-top: 9px solid #445157 !important;
}
.bt-10,
.bt10 {
  border-top: 10px solid #445157 !important;
}
.bt-11,
.bt11 {
  border-top: 11px solid #445157 !important;
}
.bt-12,
.bt12 {
  border-top: 12px solid #445157 !important;
}
.bt-13,
.bt13 {
  border-top: 13px solid #445157 !important;
}
.bt-14,
.bt14 {
  border-top: 14px solid #445157 !important;
}
.bt-15,
.bt15 {
  border-top: 15px solid #445157 !important;
}
.bt-16,
.bt16 {
  border-top: 16px solid #445157 !important;
}
.bt-17,
.bt17 {
  border-top: 17px solid #445157 !important;
}
.bt-18,
.bt18 {
  border-top: 18px solid #445157 !important;
}
.bt-19,
.bt19 {
  border-top: 19px solid #445157 !important;
}
.bt-20,
.bt20 {
  border-top: 20px solid #445157 !important;
}
/* -- border bottom */
.bb-0,
.bb0 {
  border-bottom: 0px solid #445157 !important;
}
.bb-1,
.bb1 {
  border-bottom: 1px solid #445157 !important;
}
.bb-2,
.bb2 {
  border-bottom: 2px solid #445157 !important;
}
.bb-3,
.bb3 {
  border-bottom: 3px solid #445157 !important;
}
.bb-4,
.bb4 {
  border-bottom: 4px solid #445157 !important;
}
.bb-5,
.bb5 {
  border-bottom: 5px solid #445157 !important;
}
.bb-6,
.bb6 {
  border-bottom: 6px solid #445157 !important;
}
.bb-7,
.bb7 {
  border-bottom: 7px solid #445157 !important;
}
.bb-8,
.bb8 {
  border-bottom: 8px solid #445157 !important;
}
.bb-9,
.bb9 {
  border-bottom: 9px solid #445157 !important;
}
.bb-10,
.bb10 {
  border-bottom: 10px solid #445157 !important;
}
.bb-11,
.bb11 {
  border-bottom: 11px solid #445157 !important;
}
.bb-12,
.bb12 {
  border-bottom: 12px solid #445157 !important;
}
.bb-13,
.bb13 {
  border-bottom: 13px solid #445157 !important;
}
.bb-14,
.bb14 {
  border-bottom: 14px solid #445157 !important;
}
.bb-15,
.bb15 {
  border-bottom: 15px solid #445157 !important;
}
.bb-16,
.bb16 {
  border-bottom: 16px solid #445157 !important;
}
.bb-17,
.bb17 {
  border-bottom: 17px solid #445157 !important;
}
.bb-18,
.bb18 {
  border-bottom: 18px solid #445157 !important;
}
.bb-19,
.bb19 {
  border-bottom: 19px solid #445157 !important;
}
.bb-20,
.bb20 {
  border-bottom: 20px solid #445157 !important;
}
/* -- border left */
.bl-0,
.bl0 {
  border-left: 0px solid #445157 !important;
}
.bl-1,
.bl1 {
  border-left: 1px solid #445157 !important;
}
.bl-2,
.bl2 {
  border-left: 2px solid #445157 !important;
}
.bl-3,
.bl3 {
  border-left: 3px solid #445157 !important;
}
.bl-4,
.bl4 {
  border-left: 4px solid #445157 !important;
}
.bl-5,
.bl5 {
  border-left: 5px solid #445157 !important;
}
.bl-6,
.bl6 {
  border-left: 6px solid #445157 !important;
}
.bl-7,
.bl7 {
  border-left: 7px solid #445157 !important;
}
.bl-8,
.bl8 {
  border-left: 8px solid #445157 !important;
}
.bl-9,
.bl9 {
  border-left: 9px solid #445157 !important;
}
.bl-10,
.bl10 {
  border-left: 10px solid #445157 !important;
}
.bl-11,
.bl11 {
  border-left: 11px solid #445157 !important;
}
.bl-12,
.bl12 {
  border-left: 12px solid #445157 !important;
}
.bl-13,
.bl13 {
  border-left: 13px solid #445157 !important;
}
.bl-14,
.bl14 {
  border-left: 14px solid #445157 !important;
}
.bl-15,
.bl15 {
  border-left: 15px solid #445157 !important;
}
.bl-16,
.bl16 {
  border-left: 16px solid #445157 !important;
}
.bl-17,
.bl17 {
  border-left: 17px solid #445157 !important;
}
.bl-18,
.bl18 {
  border-left: 18px solid #445157 !important;
}
.bl-19,
.bl19 {
  border-left: 19px solid #445157 !important;
}
.bl-20,
.bl20 {
  border-left: 20px solid #445157 !important;
}
/* -- border right */
.br-0,
.br0 {
  border-right: 0px solid #445157 !important;
}
.br-1,
.br1 {
  border-right: 1px solid #445157 !important;
}
.br-2,
.br2 {
  border-right: 2px solid #445157 !important;
}
.br-3,
.br3 {
  border-right: 3px solid #445157 !important;
}
.br-4,
.br4 {
  border-right: 4px solid #445157 !important;
}
.br-5,
.br5 {
  border-right: 5px solid #445157 !important;
}
.br-6,
.br6 {
  border-right: 6px solid #445157 !important;
}
.br-7,
.br7 {
  border-right: 7px solid #445157 !important;
}
.br-8,
.br8 {
  border-right: 8px solid #445157 !important;
}
.br-9,
.br9 {
  border-right: 9px solid #445157 !important;
}
.br-10,
.br10 {
  border-right: 10px solid #445157 !important;
}
.br-11,
.br11 {
  border-right: 11px solid #445157 !important;
}
.br-12,
.br12 {
  border-right: 12px solid #445157 !important;
}
.br-13,
.br13 {
  border-right: 13px solid #445157 !important;
}
.br-14,
.br14 {
  border-right: 14px solid #445157 !important;
}
.br-15,
.br15 {
  border-right: 15px solid #445157 !important;
}
.br-16,
.br16 {
  border-right: 16px solid #445157 !important;
}
.br-17,
.br17 {
  border-right: 17px solid #445157 !important;
}
.br-18,
.br18 {
  border-right: 18px solid #445157 !important;
}
.br-19,
.br19 {
  border-right: 19px solid #445157 !important;
}
.br-20,
.br20 {
  border-right: 20px solid #445157 !important;
}
